@font-face {
    font-family: 'voltaat';
    src: URL('font.woff2') format('truetype');
}

body {
    font-family: 'voltaat';
    line-height: 1.5;
    font-size:   18px;
}

h1 {
    color:       #242323;
    padding-top: 30px;
}

h2 {
    color:          #67c366;
    border-bottom:  2px solid #000;
    width:          60%;
    padding-top:    10px;
    padding-bottom: 20px;
}

img {
    max-height: 40vh;
    max-width:  100%;
}

.content {
    margin:    auto;
    max-width: 700px;
}

.index_grid {
    margin:                auto;
    max-width:             700px;
    display:               grid;
    grid-template-columns: repeat(2, 1fr);
    gap:                   20px;
}

.meta {
    font-size:   small;
    color:       #555;
    text-align:  right;
    padding-top: 30px;
}

.card {
    height:           370px;
    box-shadow:       0 4px 8px 0 rgba(0,0,0,0.5);
    transition:       0.3s;
    border-radius:    25px;
    background-color: #fff;
    cursor:           pointer;
    padding-bottom:   15px;
}

.card_img {
    background:    #ddd;
    margin-bottom: 20px;
    float:         top;
    overflow:      auto;
    border-radius: 25px;
    width:         100%;
    height:        100%;
    object-fit:    cover;
}

.card_txt {
    margin-left:  20px;
    margin-right: 20px;
}
